PORT=your_port

DATABASE_PASSWORD=your_password
DATABASE_DATABASE=your_db
DATABASE_URL="postgresql://postgres:your_password@localhost:5432/your_db"

JWT_SECRET=your_jwt_secret

ALLOWED_ORIGINS=domains